/* .main {
  text-align: center;
  justify-content: center;
  background-color: white;
}

.divBox {
  margin-top: 15%;
}

.slotDate {
    padding: 7px ;
    margin: 8px 3px;
    box-sizing: border-box;
    width: 50%;     
  }
  .slotTime{
    padding: 7px ;
    margin: 8px 3px;
    box-sizing: border-box;
    width: 100%;
  }
  
  .padingStartT{
       margin-right:10px;
  }
  .padingEndT{
    margin-left:10px;
}

   */
